@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

:root {
  --main-color: #24ff00;
}
::selection {
  background: var(--main-color);
  color: #fff;
}
html {
  font-size: 62.5%;
}
body {
  font: 2rem/1.5 'Dela Gothic One', 'Pretendard', 'Kalnia', sans-serif;
  height: 100vh;
  /* cursor: none; */
  overflow: hidden;
}
label,
a {
  text-decoration: none;
  color: inherit;
  /* cursor: none; */
}
a:hover {
  text-decoration: none;
  /*  cursor: none; */
}
/* b {
  display: block;
} */

/* cursor */
.cursor {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: #333;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  mix-blend-mode: difference;
  transform: translate(-10px, -5px);

  transition: 0.2s;
}
.cursor.point {
  background: var(--main-color);
  border-radius: 50px;
}
.cursor.click {
  animation: cursorAni 0.4s;
}
@keyframes cursorAni {
  100% {
    width: 5rem;
    height: 5rem;
    opacity: 0;
  }
}

#container {
  mix-blend-mode: difference;
  /*   background: #5f5; */
  height: calc(100% - 9rem);
}

.wrap {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

/* header */
#header {
  border-bottom: 3px solid #000;
  height: 5rem;
}
#header .logo {
  text-indent: -999px;
  overflow: hidden;
  width: 7rem;
  height: 3rem;
  display: block;
  background: url(../img/logo.svg) no-repeat 0 0 / contain;
}
#header nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#header .gnb-left {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .gnb {
  display: flex;
  width: 31rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.check {
  width: 40px;
  height: 20px;
}
.check input {
  display: none;
}
#header .check input + label {
  padding: 1px 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background: #000;
  transition: 0.4s;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.check input + label::after {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* footer */
#footer {
  height: 4rem;
  border-top: 3px solid #000;
}
#footer .info {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
#footer .info li:nth-child(1),
#footer .info li:nth-child(3) {
  text-indent: -999px;
  overflow: hidden;
  position: relative;
}
#footer .info li:nth-child(1) {
  width: 3.9rem;
  height: 2rem;
  background: url(../img/footer-pic01.svg) no-repeat 0 0 / cover;
}
#footer .info li:nth-child(3) {
  width: 3rem;
  height: 1.5rem;
  background: url(../img/footer-pic02.svg) no-repeat 0 0 / cover;
}

/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: var(--main-color);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
