@charset 'utf-8';

/* web */

.con-title {
  /* height: 17rem; */
  height: 8.8542vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #000;
}
.con-title h2 {
  display: inline-flex;
  align-items: center;
  width: 58.8816%;
  font-size: 6.4rem;
  border-right: 3px solid #000;
  height: 100%;
}
.con-title .con-list1 {
  width: 41.1184%;
  height: 100%;
  overflow: hidden;
}

.con-list1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 7rem;
  height: 100%;
  margin-left: -3px;
}
.con-list1 ul li {
  border-left: 3px solid #000;
  width: 17rem;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.con-list1 ul li:hover::before {
  background: var(--main-color);
  position: absolute;
  z-index: -1;
}
/* on클래스 */
.con-list1 ul li.swiper-slide-active::before {
  background: var(--main-color);
  position: absolute;
  z-index: -1;
}
.con-list1 ul li::before {
  content: '';
  display: block;
  /* width: 15rem; */
  width: 80%;
  aspect-ratio: 1/1;
  border: 3px solid #000;
  border-radius: 50%;
  position: absolute;
}

.web-view .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-view {
  height: calc(100% - 8.8542vw);
}

.web-view .swiper-container,
.web-view .swiper-wrapper,
.web-view .swiper-slide {
  height: 100%;
  width: 100%;
}
.web-view .swiper-container {
  overflow: hidden;
}
.web-view figure {
  height: 100%;
  width: 58.8816%;
  border-right: 3px solid #000;
}
.web-view figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.web-exp {
  height: 100%;
  width: 41.1184%;
}
.web-exp .web-view-title {
  position: relative;
  border-bottom: 3px solid #000;
}
.web-exp .web-view-title .web-title {
  margin: 2rem 0 2.8rem;
  padding-left: 2.2rem;
}
.web-exp .web-view-title .web-title h3 {
  font-size: 3.6rem;
}
.web-exp .web-view-title .web-title p {
  font-size: 1.6rem;
}
.web-exp .web-view-title .page-link {
  position: absolute;
  font-size: 1.6rem;
  bottom: 10%;
  right: 0;
  display: flex;
  gap: 0.7rem;
}
.web-exp .web-view-title .page-link a {
  border: 2px solid #000;
  padding: 0.8rem 2rem;
}
.web-exp .web-view-title .page-link a:hover {
  background: var(--main-color);
}
.web-exp .web-view-text {
  margin-top: 3rem;
  padding-left: 2.2rem;
}
.web-exp .web-view-text .web-view-text-list > li {
  margin-top: 3rem;
}
.web-exp .web-view-text .web-view-text-list p {
  font-family: 'Pretendard';
  font-size: 1.8rem;
  letter-spacing: -2%;
}
.web-exp .web-view-text .web-view-text-list li > .tool-list {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
}

/* graphic */

.dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.8;
  backdrop-filter: blur(2px);
  z-index: 1;
  display: none;
}
.popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(10deg);
  border: 3px solid #fff;
  border-radius: 3px;
  border-right: none;

  opacity: 0;
  transition: 0.3s cubic-bezier(0, 0.3, 0, 1.17);
  pointer-events: none;
  z-index: 20;
}
.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) skewY(0deg);
  pointer-events: auto;
  z-index: 20;
}
.gallery-content {
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: relative;
}

.gallery-content .prev-btn,
.gallery-content .next-btn {
  position: fixed;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  top: 45%;
}

.gallery-content .next-btn {
  right: 0%;
  background: url(../img/graphic-next-btn.jpg) no-repeat 0 0 / contain;
}
.gallery-content .prev-btn {
  left: 0%;
  background: url(../img/graphic-next-btn.jpg) no-repeat 0 0 / contain;
  transform: rotate(180deg);
}

.gallery-content::-webkit-scrollbar {
  width: 7px;
}
.gallery-content::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 2px;
}
.gallery-content::-webkit-scrollbar-track {
  background-color: #fff;
}

.gallery-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popup.active .btn-close {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 3rem;
  height: 3rem;
  text-indent: -999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: transparent url(../img/btn-close.png) no-repeat 0 0 / cover;
  transition: 0.2s;
}
.popup.active .btn-close:hover {
  transform: rotate(180deg);
}

.graphic h3 {
  font-size: 4.8rem;
}
.graphic-wrap {
  width: 100%;
  height: calc(100% - 7.2rem);
}
.graphic-list {
  display: grid;
  height: 100%;
  grid-template-columns: 24% 25% 25% 26%;
  grid-template-rows: 29% 19% 14% 38%;
}
.graphic-list li {
  height: 100%;
  padding: 3px;
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.graphic-list li:hover .graphic-text {
  opacity: 1;
}
.graphic-list li:hover::before {
  opacity: 1;
}
.graphic-list li::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.graphic-text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  color: #fff;
  font-family: 'Pretendard';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}
.graphic-list li strong {
  font-weight: 800;
  font-size: 3.6rem;
  width: 24rem;
  display: block;
}
.graphic-list li p {
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
}

.graphic-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: #000; */
  border: 2px solid #000;
}
.graphic-list li:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/1;
}
.graphic-list li:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.graphic-list li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/5;
}
.graphic-list li:nth-child(4) {
  grid-column: 4/5;
  grid-row: 1/4;
}
.graphic-list li:nth-child(5) {
  grid-column: 1/2;
  grid-row: 2/5;
}
.graphic-list li:nth-child(6) {
  grid-column: 2/3;
  grid-row: 3/5;
}
.graphic-list li:nth-child(7) {
  grid-column: 4/5;
  grid-row: 4/5;
}

/* about */
.about {
  position: relative;
}
.about-wrap {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  height: 100%;
  /*  display: none; */
}
.about-list {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.about-list li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-right: 3px solid #000;
  transition: 0.3s;
  cursor: pointer;
}
.about-list li::before {
  content: '';
  position: absolute;
  left: 0;
  background: no-repeat 0 0 / cover;
  bottom: -999px;
  overflow: hidden;
  transition: 0.6s ease;
}
.about-list li:nth-child(1)::before {
  background-image: url(../img/about-pic01.jpg);
}
.about-list li:nth-child(2)::before {
  background-image: url(../img/main-visual-pic01.jpg);
}
.about-list li:nth-child(3)::before {
  background-image: url(../img/main-visual-pic03.jpg);
}

.about-list li:hover::before {
  bottom: 0;
  width: 100%;
  height: 100%;
}
.about-list li:hover .about-list-text {
  color: #fff;
  transition-delay: 0.1s;
}

.about-list li:last-child {
  border: none;
}

.about-list-text {
  position: relative;
  z-index: 1;
}

.about-list li h2 {
  display: block;
  width: 100%;
  font-size: 3.8rem;
}
.about-list li strong {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-family: 'Pretendard';
  letter-spacing: -5%;
}
.about-list li .page-button {
  position: absolute;
  bottom: 2%;
  right: 8%;
}
.about-list li .page-button::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/next-button.svg) no-repeat 50% / contain;
  position: absolute;
  bottom: 25%;
  right: -25%;
}
.about-list li:hover .page-button::after {
  background-image: url(../img/next-button-w.svg);
}
.about-list li:hover .page-button {
  color: #fff;
}

/* about-profile */
.profile {
  background: url(../img/profile-bg.jpg) no-repeat 0 0 / cover;
  color: #fff;
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 66.6666% 0 0);
  transition: 0.3s;
  visibility: hidden;
}

.profile.on {
  clip-path: inset(0 0 0 0);
  visibility: visible;
}
.about-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15rem;
}
.about-title {
  text-align: center;
}
.profile-title {
  visibility: hidden;
}
.about-title h2 {
  font-size: 4rem;
}
.about-title p {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1.5rem;
}
.about-text {
  font-family: 'Pretendard';
}
.profile-text {
  visibility: hidden;
}
.profile-text .profile-text-list > li {
  display: flex;
  gap: 3rem;
  margin-top: 2.4rem;
}
.profile-text .profile-text-list > li h3 {
  font-weight: 700;
  font-size: 2.4rem;
  width: 13.7rem;
}
.profile-text .profile-text-list > li p {
  font-size: 2rem;
  font-weight: 300;
}
.skill-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.back-btn {
  font-family: 'Pretendard';
  color: #ccc;
  background: transparent;
  margin-left: 4.7rem;
  margin-top: 1.6rem;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.back-btn::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/next-button-w.svg) no-repeat 0 0 / contain;
  transform: rotate(180deg);
  position: absolute;
  top: 25%;
  left: -50%;
  z-index: 100;
}

/* more-about */
.more-about {
  background: url(../img/main-visual-pic01.jpg) no-repeat 0 0 / cover;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 33.3333% 0 33.3333%);
  transition: 0.3s;
  visibility: hidden;
}
.more-about.on {
  clip-path: inset(0 0 0 0);
  visibility: visible;
}
.more-about-title {
  visibility: hidden;
}
.more-about-text {
  visibility: hidden;
}
.more-about-text-list > li {
  width: 60rem;
}
.more-about-text-list > li + li {
  margin-top: 8rem;
}
.more-about-text-list > li h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.more-about-text-list > li p {
  margin-top: 2rem;
}

/* epilogue */
.epilogue {
  background: url(../img/about-more-bg.jpg) no-repeat 0 0 / cover;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  visibility: hidden;
  clip-path: inset(0 0 0 66.6666%);
}
.epilogue.on {
  clip-path: inset(0 0 0 0);
  visibility: visible;
}
.epilogue-title {
  visibility: hidden;
}
.epilogue-text {
  visibility: hidden;
}
.epilogue-text-list > li {
  width: 60rem;
}
.epilogue-text-list > li + li {
  margin-top: 8rem;
}
.epilogue-text-list > li h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.epilogue-text-list > li p {
  margin-top: 2rem;
}

/* hidden */
.hidden-page figure {
  width: 90rem;
  height: 100%;
}
.hidden-page {
  position: relative;
}
.hidden-page h2 {
  font-size: 2rem;
  position: absolute;
  top: 2%;
  left: 1%;
  color: #fff;
  letter-spacing: -1px;
}

.hidden-page figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Words {
  margin: 0 auto;
  padding: 100px 0;
  font-size: 6rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  /* -webkit-font-kerning: normal; */
  -webkit-text-size-adjust: 100%;
  position: absolute;
  top: 17%;
  right: 20%;
}

.Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
.Words-line:nth-child(1) {
  left: 29px;
}
.Words-line:nth-child(2) {
  left: 58px;
}
.Words-line:nth-child(3) {
  left: 87px;
}
.Words-line:nth-child(4) {
  left: 116px;
}
.Words-line:nth-child(5) {
  left: 145px;
}
.Words-line:nth-child(6) {
  left: 174px;
}
.Words-line:nth-child(7) {
  left: 203px;
}

.Words-line p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
  animation: wordsAni 3s 2s infinite alternate;
}
@keyframes wordsAni {
  to {
    transform: translate3d(0, -50px, 0);
  }
}

/* darkMode */
.con-title.dark,
.con-title h2.dark,
.con-list1 ul li.dark,
.con-list1 ul li.dark::before,
.web-view figure.dark,
.web-exp .web-view-title.dark,
.web-exp .web-view-title .page-link a.dark,
.graphic-list li img.dark,
.about-wrap.dark,
.about-list li.dark {
  border-color: #fff;
}
.about-list li:hover .about-list-text.dark {
  color: var(--main-color);
}
.web-exp .web-view-text .web-view-text-list li > .tool-list.dark {
  filter: invert(1);
}
